NEXT_PUBLIC_BASE_URL=https://elbisne.vercel.app

# Supabase (Fase 2)
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=          # NO compartir — acceso total a la base
NEXT_PUBLIC_GOOGLE_CLIENT_ID=